.icon:before
    content: ""
    display: inline-block
    width: 1.2em
    height: 1.2em
    margin-right: .5em
    vertical-align: baseline
    position: relative
    
.web:before
    @extend .icon:before
    background: var(--world-image) no-repeat
    top: .2em

.github:before
    @extend .icon:before
    background: var(--github-image) no-repeat
    top: .2em

.udacity:before
    @extend .icon:before
    // background: url('images/icons/udacity.svg') no-repeat
    background: var(--udacity-image) no-repeat
    top: .2em

.medium:before
    @extend .icon:before
    background: var(--medium-image) no-repeat
    top: .25em
